<h1>Formulário:</h1>

<form action="/node-mongodb-mongoose-user" method="post">
    <input type="text" name="emailBody">
    <button type="submit">Enviar</button>
</form>

<h1>Dados recuperados:</h1>
{{ firstNameV}} <br>
{{ lastNameV}} <br>
{{password}} <br>
{{emailV}} <br>
{{messagesV}} <br>